@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4c5b37;
    font-family: 'Poppins', sans-serif;
    padding: 40px;
}

/* Wrapper */
.estoque-wrapper {
    background-color: #a3a371;
    border-radius: 15px;
    padding: 30px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Header */
.estoque-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img-logo {
    max-width: 100px;
}

/* Botão voltar */
.btn-voltar {
    background-color: #4c5b37;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn-voltar:hover {
    background-color: #3e4a2d;
}

/* Formulário */
.form-produto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input,
.form-group select {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #666;
}

/* Linha dupla */
.form-row {
    display: flex;
    gap: 15px;
}

.form-row .form-group {
    flex: 1;
}

/* Botão cadastrar */
.btn-cadastrar {
    margin-top: 10px;
    padding: 10px;
    background-color: #4c5b37;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cadastrar:hover {
    background-color: #3e4a2d;
}

/* Botão editar */
.btn-editar {
    margin-top: 10px;
    padding: 10px;
    background-color: #4c5b37;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-editar:hover {
    background-color: #3e4a2d;
}

/* Ação Finalizar Venda */
.btn-salvar {
    background-color: #4c5b37;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}
.btn-salvar:hover {
    background-color: #3e4a2d;
}

/* Botão Sair */
.btn-sair {
    background-color: #7a1f1f;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn-sair:hover {
    background-color: #5e1717;
}
